{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form class="form-horizontal" role='form' method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    
    <div class='form-group {% if field.errors %}has-error{%endif%}'>
        <p class="required">
            <label class="col-sm-2 control-label" for="id_{{field.name}}">{{field.label}}</label>
            <div class="col-sm-3">
                <input id="id_{{field.name}}"
                       class="form-control"
                       maxlength="75"
                       name="{{field.name}}"
                       {% if field.name == "password1" or field.name == "password2" %}
                            type="password"
                       {% else %}
                            type="text"
                       {% endif %}
                       {% if field.value %}
                       value="{{field.value}}"
                       {% endif %}>
            </div>
        </p>
        <p class='error-list col-sm-offset-2'>
            {% for error in field.errors%}
                {{error}}
            {% endfor %}
        </p>
    </div>
    {% endfor %}
    <br>
    <div class="col-sm-offset-2">
    <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Submit' %}" />
    </div>
</form>
{% endblock %}