{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form class="form-horizontal" role='form' method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    
    <div class='form-group {% if field.errors %}has-error{%endif%}'>
        <p class="required">
            <label class="col-sm-2 control-label" for="id_{{field.name}}">{{field.label}}</label>
            <div class="col-sm-3">
                <input id="id_{{field.name}}"
                       class="form-control"
                       maxlength="75"
                       name="{{field.name}}"
                       {% if field.name == "password1" or field.name == "password2" %}
                            type="password"
                       {% else %}
                            type="text"
                       {% endif %}
                       {% if field.value %}
                       value="{{field.value}}"
                       {% endif %}>
            </div>
        </p>
        <p class='error-list col-sm-offset-2'>
            {% for error in field.errors%}
                {{error}}
            {% endfor %}
        </p>
    </div>
    {% endfor %}
    {% comment %}
    {% if field.widget.attrs.get('class','') == 'PasswordInput'%}password{%else%}text{%endif%}
    <div class='form-group'>
        <p class="required">
            <label class="col-sm-2 control-label" for="id_email">E-mail</label>
            <div class="col-sm-3">
                <input id="id_email" class="form-control" maxlength="100" name="email" type="text" value="{{form.email}}">
            </div>
        </p>
    </div>
    <div class='form-group'>
        <p class="required">
            <label class="col-sm-2 control-label" for="id_password1">Password</label>
            <div class="col-sm-3">
                <input id="id_password1" class="form-control" maxlength="30" name="password1" type="password">
            </div>
        </p>
    </div>
    <div class='form-group'>
        <p class="required">
            <label class="col-sm-2 control-label" for="id_password2">Password (again)</label>
            <div class="col-sm-3">
                <input id="id_password2" class="form-control" maxlength="30" name="password2" type="password">
            </div>
        </p>
    </div>
    {% endcomment %}
    <br>
    <div class="col-sm-offset-2">
    <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Submit' %}" />
    </div>
    
</form>
{% endblock %}