<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Rivers Near ME</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Rivers Near Me">
<meta name="author" content="Matt Chrestman">
{% load staticfiles %}
<!-- Le styles -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<!--<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">-->
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  #map-canvas { height: 700px }
</style>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsV1PHBA6-FocW9_qi-Ixv7HfY3i5LDzU">
</script>

</head>
<body style="padding-top: 60px">
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="{% url "Rivers.views.index" %}"><span class="glyphicon glyphicon-globe"></span> Rivers</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if not user.is_active %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login<b class="caret"></b></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                        <form role="form" action='/accounts/login/' method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    {{ form.errors }}
                                {% endif %}
                                <div class="form-group">
                                    <label for="id_username">Username</label><br>
                                    <input class="form-control" type="text" name="username" id="id_username"></p>
                                </div>
                                <div class="form-group">
                                    <p><label for="id_password">Password</label>
                                    <input class="form-control" type="password" name="password" id="id_password"></p>
                                </div>
                                <div class="form-group">
                                    <p><input class="btn btn-primary" type="submit" value="Login" /></p>
                                    <input type="hidden" name="next" value="{{ current_path }}" />
                                </div>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="/accounts/register/">Register</a>
                </li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome, <strong>{% firstof user.first_name user.username %}</strong><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="rivers/my_rivers">My Rivers</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/rivers/user_profile/">My Profile</a>
                            </li>
                            <li>
                                <a href="/accounts/password_change/">Change Password</a>
                            </li>
                            <li>
                                <a href="/accounts/logout/?next=/">Log Out</a>
                            </li>
                        </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
    </nav>
</header>
